

* {
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-snap-type: y mandatory;
  }
  
  body {
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    color: white;
    background-color: black;
    height: 100vh;
    display: grid;
    place-items: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}